body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.boxs {
    background-color: powderblue;
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    border: 1px solid white;
    margin-top: 200px
}

.buttons {
    font-size: 16px;
    padding: 10px 20px;
    background-color: hwb(356 4% 7%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover {
    background-color: #970909;
}